* {
    margin: 0px;
    padding: 0px;
    background-color: #0993d3;
}

.bg-image {
    background: linear-gradient(rgba(0, 0, 0, 0.6)rgba(0, 0, 0, 0.3)), url("images/charles-deluvio-D-vDQMTfAAU-unsplash.jpg");
    height: 100vh;
    background-size: cover;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("bg.jpg");
}

.cards {
    display: inline-block;
    width: 20%;
    background-color: rgb(34, 85, 85);
    border-radius: 5px;
    margin: 30px;
    box-shadow: 2px 2px 10px rgb(43, 42, 102);
}

.image img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.title {
    text-align: center;
}

.des {
    text-align: center;
    padding: 4px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: aliceblue;
    color: aqua;
    transition: .5s;
}